@media (prefers-reduced-motion: reduce) {
	.jabp-feedback-form {
		--jabp-ff-transition-duration: 0s;
	}
}

:root {
	--jabp-transition-speed: 375ms;
	--jabp-transition-ease: cubic-bezier(0.4, 0, 0.2, 1);

	--jabp-ff-border-radius: 2pt;
	--jabp-ff-icon-size: 1.875em;
	--jabp-ff-icon-color: currentColor;
}

.jabp-feedback-form {
	border: 1pt solid var(--jabp-ff-border-color, #e0e0e0);
	border-radius: var(--jabp-ff-border-radius);
	padding: 1em;
	container: feedback-form / inline-size;
	display: flex;
	gap: 0.5em;
	flex-wrap: wrap;
	font-size: 1rem;

	&--negative {
		--jabp-ff-border-color: hsl(0deg 65% 67%);
	}

	&--positive {
		--jabp-ff-border-color: hsl(100deg 34% 67%);
	}

	&--negative,
	&--positive {
		--jabp-ff-pointer-events: none;

		.jabp-feedback-form__heading {
			color: var(--jabp-ff-border-color);
		}

		button {
			display: none;
		}
	}

	svg {
		aspect-ratio: 1;
		height: auto;
		fill: var(--jabp-ff-icon-color);
		width: var(--jabp-ff-icon-size);

		pointer-events: none;
	}
}

.jabp-feedback-form__btn {
	--jabp-ff-color-h: 171.19deg;
	--jabp-ff-background-color: hsl(var(--jabp-ff-color-h) var(--jabp-ff-color-s, 34%) 67%);
	--jabp-ff-color: hsl(var(--jabp-ff-color-h) var(--jabp-ff-color-s, 34%) 37%);

	align-items: center;
	background: var(--jabp-ff-background-color);
	border: 1.25pt solid var(--jabp-ff-btn-border-color, var(--jabp-ff-background-color));
	border-radius: var(--jabp-ff-border-radius);
	color: var(--jabp-ff-color);
	cursor: pointer;
	display: flex;
	gap: 0.5em;
	flex: 0 0 auto;
	justify-content: center;
	padding-block: 0.125em;
	padding-inline: 0.5em;
	pointer-events: var(--jabp-ff-pointer-events, auto);
	transition-property: transform, box-shadow, background-color, color, border-color;
	transition-duration: var(--jabp-transition-speed);
	transition-timing-function: var(--jabp-transition-ease);

	&:hover {
		box-shadow: 0 var(--jabp-ff-border-radius) var(--jabp-ff-border-radius) calc(0px - var(--jabp-ff-border-radius)) #b1b1b1ba;
		transform: translateY(calc(0px - var(--jabp-ff-border-radius) / 2));
	}

	&:active {
		transform: translateY(0);
	}

	&:first-child:hover {
		--jabp-ff-color-h: 100deg;
	}

	&:last-child:hover {
		--jabp-ff-color-h: 0deg;
		--jabp-ff-color-s: 65%;
	}
}

.jabp-feedback-form__btn--outline {
	--jabp-ff-btn-border-color: currentColor;

	background: transparent;
	color: var(--jabp-ff-background-color);
}

.jabp-feedback-form__btn--outline-fill {
	--jabp-ff-btn-border-color: currentColor;

	background: transparent;
	color: var(--jabp-ff-background-color);

	&:hover {
		color: var(--jabp-ff-color);
		background: var(--jabp-ff-background-color);
		border-color: var(--jabp-ff-background-color);
	}
}

.jabp-feedback-form__heading {
	margin-block: 0;
	width: 100%;
	text-wrap: balance;
}

.jabp-feedback-form__message {
	font-size: 1.125em;
	margin-block: 0;
	text-wrap: pretty;
}

@container feedback-form (max-width: 300px) {
	.jabp-feedback-form__btn {
		flex: 1 1 auto;
		padding-block: 0.5em;
		padding-inline: 1em;

		svg {
			display: none;
		}
	}
}

@contaienr feedback-form (min-width: 600px) {
	.jabp-feedback-form--positive,
	.jabp-feedback-form--negative {
		text-align: center;
	}
}
